@import "tailwindcss";

@theme inline {
    /* Custom breakpoints */
    --breakpoint-sm: 36rem; /* 576px */
    --breakpoint-md: 48rem; /* 768px */
    --breakpoint-lg: 62rem; /* 992px */
    --breakpoint-xl: 75rem; /* 1200px */
    --breakpoint-2xl: 87.5rem; /* 1400px */

    /*
      custom color
    */
    --color-custom-primary: #3b82f6;
    --color-font-color: #0e1b1b;
    --color-custom-secondary: #8b5cf6;
    --color-custom-accent: #ec4899;
    --color-custom-success: #10b981;
    --color-custom-warning: #f59e0b;
    --color-custom-error: #ef4444;
}

body {
    font-family: var(--font-plus-jakarta), sans-serif;
}
